<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.constantcontact.plugins.pullrequestvalidation.PullRequestTrigger plugin="pull-request-validation@1.0-SNAPSHOT">
      <spec>* * * * *</spec>
      <repositoryName>pull-request-validation-plugin</repositoryName>
      <systemUser>rdavis</systemUser>
      <systemUserPassword>Qmnprtacb23!!</systemUserPassword>
      <repositoryOwner>rdavis</repositoryOwner>
      <gitHubRepository>https://github.roving.com/rdavis/pull-request-validation-plugin.git</gitHubRepository>
      <isSupposedToRun>false</isSupposedToRun>
      <additionalConfigs>
        <com.constantcontact.plugins.pullrequestvalidation.PullRequestTriggerConfig>
          <repositoryName>pull-request-validation-plugin</repositoryName>
          <systemUser>rdavis</systemUser>
          <systemUserPassword>Qmnprtacb23!!</systemUserPassword>
          <repositoryOwner>Mobile</repositoryOwner>
          <gitHubRepository>https://github.roving.com/Mobile/pull-request-validation-plugin.git</gitHubRepository>
        </com.constantcontact.plugins.pullrequestvalidation.PullRequestTriggerConfig>
      </additionalConfigs>
    </com.constantcontact.plugins.pullrequestvalidation.PullRequestTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>